body {
  background-color: #f8f9fa;
  padding: 20px;
}

.form-container {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#productos-container {
  margin-top: 20px;
}

.producto-input {
  display: flex;
  margin-bottom: 10px;
}

.add-producto {
  cursor: pointer;
  margin-left: 5px;
  font-size: 20px;
  color: #28a745; 
  font-weight: bold;
}

.add-producto:hover {
  color: #218838; 
}

#otros-inputs {
  margin-top: 20px;
}

#otros-inputs input {
  margin-bottom: 10px;
}

#enviar-btn {
  display: block;
  margin: auto;
  margin-top: 20px;
  background-color: #00B1DF;
  width: 557px;
}

#success-message {
  display: none;
  background-color: #4CAF50;
  color: #fff;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  text-align: center;
  z-index: 1;
}

h1 {
  color: #1C1F40;
  text-align: center;
  margin-bottom: 33px;
  margin-top: 33px;
}

.btn-primary {
  color: #fff;
  border-color: #00B1DF;
}



#footer-container {
  margin-top: 25px;
  margin-left: -20px;
  text-align: center;
  background-color: #1C1F40;
  margin-right: -20px;
  margin-bottom: -20px;
  border-radius: 0 0 10px 10px;
}

#footer-container img {
  max-width: 89%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

img {
  vertical-align: middle;
  border-style: none;
  margin-top: 30px;
}